.jumbotron {
	background-color: #4285F4;
	border: 1px solid #563D7C;
	h2{
	color: #563D7C;
	font-weight: bold;
	}
	}

	.navbar-default{
	.container-fluid{
	background-color: #58CEF2;
	.navbar-nav > li > a{
	color: #ffffff;
	font-size: 18px;
	font-weight:bold;
	}
	.navbar-brand{
	color: #563D7C;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Hobo Std';

	}
	}
	}

	.container-fluid{
	padding: 10px 120px;
	}